@import "./../variables";

.card{
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    background-color: white;
    box-shadow: 0 2px 2px -2px;

    h1{
        padding: 20px;
        font-family: $fonte;
        margin: 0px;
    }

    p{
        margin: 0px;
        padding: 20px;
        font-family: $fonte;
        margin: 0px;
    }
}