<div class="header">
    <app-header></app-header>
</div>
<div class="main" role="main">
    <div class="cards">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
    <div class="accordions">
        <app-accordion></app-accordion>
        <app-accordion></app-accordion>
    </div>
    <div class="mid-section">
        <div class="imagem">
            <app-image></app-image>
            <div class="imagem-texto">
                <h2>TITULO MUUUUITO MAIOR</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, necessitatibus?</p>
                <app-input></app-input>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>