<div class="header">
    <app-header></app-header>
</div>
<div class="main" role="main">
    <div class="cards">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
    <div class="accordions">
        <app-accordion></app-accordion>
        <app-accordion></app-accordion>
    </div>
    <div class="mid-section">
        <div class="">
            <app-card></app-card>
        </div>
        <div class="form">
            <app-input></app-input>
            <app-button></app-button>
        </div>
    </div>
</div>  