@import "./../variables";


.main{
    display: flex;
    flex-direction: column;

    .cards{
        @include flexCenter();
        flex-direction: row;
        gap: 20px;
    }

    .accordions{
        margin-top: 50px;
        flex-direction: column;

        app-accordion{
            @include flexCenter();
        }
    }
    
    .form{
        @include flexCenter();
        padding-top: 200px;
    }

    .mid-section{
        @include flexCenter();

        flex-direction: row;
        padding-top: 50px;

        app-button{
            margin-top: 20px;
        }
    }

    .imagem{
        display: flex;
        margin-top: 10px;
        

        &-texto{
            @include flexCenter();
            flex-direction: column;
            align-content: end;
            background-color: white; 
            height: 500px; 
            width: 500px;
            padding-left: 56px;

            h2{
                font-family: 'Protest Strike', serif;
                font-size: 50px;
            }
        }
    }

    app-modal{
        margin-top: 20px;
    }
}