<div class="header" role="banner">
    <app-header></app-header>
</div>
<div class="main" role="main">
    <div class="cards">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
    <div class="accordions">
        <app-accordion></app-accordion>
        <app-accordion></app-accordion>
    </div>
    <div class="mid-section">
        <div class="imagem">
            <app-image></app-image>
            <div class="imagem-texto" tabindex="0">
                <h2>TITULO MUUUUITO MAIOR</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, necessitatibus?</p>
                <app-input></app-input>
                <app-modal>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, quis.
                </app-modal>
            </div>
        </div>
    </div>
</div>
<div role="contentinfo">
    <app-footer></app-footer>
</div>