
@import "./../variables";

.accordion{

    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 50%;
    
    &-title{
        display: flex;
        justify-content: space-between;

        h2{
            padding-left: 10px;
            font-family: $fonte;
        }

        span{
            height: 50px;
            width: 50px;
            font-size: 50px;
            transition: 500ms;
        }

        .icon-rotate{
            transform:rotate(180deg);
        }

        &:hover{
            cursor: pointer;
        }
    }




    &-content{
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 500ms;
        font-family: $fonte;
    }
    
    &-content > div{
        overflow: hidden;
    }
    
    &-content-open {
        grid-template-rows: 1fr;
    }

}
