@import "./../variables";

.input{
    justify-content: center;

    h2{
        font-family: $fonte;
        margin-bottom: 0px;
    }

    input{
        border-radius: 10px;
        width: 300px;
        height: 27px;
        box-shadow: gray 2px 2px 10px;
        font-family: 'Kanit', serif;

        &:focus{
            outline: none;
        }
    }
}