button{
    border-radius: 10px;
    height: 44px;
    min-width: 81px;
    border: none;
    background: blue;
    color: white;
    border-radius: 23px;
    font-family: 'Kanit', serif;

    &:active{
        opacity: 0.5;
    }

    p{
        padding: 0px 10px 0px 10px;
    }
}